#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
#header,
#footer {
  background-color: rgb(29, 133, 230);
  color: #fff;
  text-align: center;
}
#header ul#main-menu {
  list-style: none;
  display: flex;
  margin: 0;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
ul#main-menu a {
  color: #fff;
  display: block;
}
#footer p {
  padding: 10px 0;
  margin: 0;
}
